$font-bai: 'Bai Jamjuree', sans-serif;
$font-marcellus: 'Marcellus', serif;
$font-rajdhani: 'Rajdhani', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-sulphur: 'Sulphur Point', sans-serif;

// color variables 
$color-primary: #fff;
$color-secondary:#edeedd;
$ken: #0b8fcc;
$vista-d:#b1420a;
